// Color Palette
$main : #66FCF1;
$mainAccent : #45A29E;
$gray : #C5C6C7;
$lgtBlack : #1F2833;
$black : #0B0C10;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  //border: 1px solid red;
}


body {
  max-width:768px;
  margin: auto;
  background-color: $black;
}

pre {
  background-color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  box-shadow: 8px 8px $gray;
}

code {
  font-size: 1em;
  font-family: 'Ubuntu Mono', monospace;
  width: 100%;
  padding: 0 1em;

  background-color: white;
  color: $mainAccent; 
}

.code-inline {
  padding: 0.1em 0.3em;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $main;
    color: $black;
    cursor: pointer;
    padding: 0.5em 0.25em;
    border-radius: 0.1em;
    font-size: 1em;
}

#myBtn:hover {
    background-color: $mainAccent;
}

.container{
  display: grid;

  //height: 100%;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "navArea docArea";
  //justify-content: stretch;
  //align-content: stretch;	

}

#navbar {
  background-color: $lgtBlack;
  grid-area: navArea;
  display: grid;
  height: 100%;
  max-height: 100%;
  max-width: 14em;
  grid-template-columns: 1fr;
  grid-template-rows: auto 8fr;
  grid-template-areas: "title" "links";
  position: fixed;
  align-content: center;
  justify-items: center;
  
  ul {
    grid-area: links;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
    li {
      flex: 0 0 100%;
      display: grid;
      align-items: center;
      justify-items: center;
      border-top: 1px dashed $gray;
      font-size: 1.3em;
      
      a {
        text-decoration: none;
        color : $main;
      }
    }
  }
}

.title {
  background-color: $lgtBlack;
  color: white;
  grid-area: title;
  font-size: 2em;
  padding: 0.25em 0.5em;
  //min-width: 7em;
}

#main-doc {
  background-color: $lgtBlack;
  position: absolute;
  grid-area: docArea;
  width: 100%;
  //max-width: 540px;
  max-width: 33.75em;
  display: grid;
  grid-row-gap: 1em;
  align-self: stretch;
  margin-left: 13.29em;
  
  padding: 4em;
  
  header {
    font-size: 1.75em;
    padding:0.5em 0;
    color: $main;
  }
}

section {
  padding: 1.5em 1em;
  background-color: $lgtBlack;
  color: white;
  
  border: 8px dashed $main;
  box-shadow: 8px 8px $mainAccent;
  
  ul {
    list-style: none;
  }
  
  li::before {
    content: "•"; 
    color: $main;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
  }
  li {
    margin-left: 3em;
    text-decoration-color: $main;
    list-style: $main;
  }
  p {
    padding-top: 0.75em;
    padding-bottom: 1em;
  }
}

#rotate {
  display: none;
}

@media only screen and (max-width: 768px) {
  
  .container{
    display: flex;
    flex-direction: column;
    min-width: 568px;
  }
  
  #myBtn{
    left: 1em;
  }
  
  #navbar {
    //background-color: $navbarBG;
    display: grid;
    height: 100%;
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 8fr;
    grid-template-areas: "title" "links";
    position: relative;
    align-content: center;
    justify-items: center;
  
    ul {
      grid-area: links;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
    
      li {
        flex: 0 0 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        border: 1px dashed lightgray;
        font-size: 1.4em;
      
        a {
          text-decoration: none;
        }
      }
    }
  }
  #main-doc {
    //background-color: $mainBG;
    position: relative;
    grid-area: docArea;
    max-width: 90%;
    margin: auto;
    display: grid;
  
    padding: 1em;
  
    header {
      font-size: 1.75em;
      padding:0.5em 0;
    }
  }
  
  pre {
    //background-color: $codeBG;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid gray;
    padding: 0;
    margin: auto;
    width: 80%;
    
  }

  code {
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    max-width: 100%;
    
    padding-left: 1em;
  }
  
  .title {
    //background-color: $titleBG;
    grid-area: title;
    font-size: 2em;
    padding: 0.5em;
    margin: auto;
    max-width: 100%;
    min-width: 400px;
  }
  
  section {
    padding: 1em;
    //background-color: $sectionBG;
    margin: auto;
    width: 90%;
    
    li {
      //margin-left: 3em;
    }
    p {
      padding-bottom: 1em;
    }
  }
}
/*
@media only screen and (max-width: 400px) {
  .container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  #navbar {
    background-color: white;
    display: grid;
    height: 100%;
    max-width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 8fr;
    grid-template-areas: "title" "links";
    position: relative;
    align-content: center;
    justify-items: center;
  
    ul {
      grid-area: links;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
    
      li {
        flex: 0 0 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        border: 1px dashed lightgray;
        font-size: 1.4em;
      
        a {
          text-decoration: none;
        }
      }
    }
  }
  .title {
    background-color: $titleBG;
    grid-area: title;
    font-size: 2em;
    padding: 0.5em;
    margin: auto;
    max-width: 100%;
    min-width: 400px;
  }
  
  code {
    background-color: white;
    font-size: 1em;
    font-family: 'Ubuntu Mono', monospace;
    height: 100%;
    width: 100%;
    padding-left: 1em;
  }
  
  pre {
    background-color: white;
    overflow: scroll;
  }
  
  #main-doc {
    background-color: $mainBG;
    position: relative;
    grid-area: docArea;
    max-width: 100%;
    margin: auto;
    padding: 0;
    display: grid;
  
    padding: 1em;
  
    header {
      font-size: 1.75em;
      padding:0.5em 0;
    }
  }
  
  section {
    padding: 0.5em;
    background-color: white;
    margin: 0;
    width: 90%;
    
    li {
      //margin-left: 3em;
    }
    p {
      padding-bottom: 1em;
    }
  }
}*/
@media only screen and (max-width: 567px) {
  #rotate {
    background-color: rgba(255,255,255,0.9);
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2;
    p {
      font-size: 3em;
      color: black;
      padding: 1em;
      margin: auto;
      max-width: 100%;
    }
  }
}